<div class="my-8 pt-1 rounded-2xl shadow-2xl flex items-center flex-wrap justify-center" [ngClass]="admin ? 'bg-violet-600' : 'bg-sky-500'">
	<div class="w-full pb-1 rounded-2xl" [ngClass]="admin ? 'bg-indigo-600' : 'bg-blue-700'">
		<div class="flex px-4 py-1 rounded-2xl bg-linear-to-b border-b-2 h-20 items-center" [ngClass]="admin ? 'from-violet-700 to-indigo-500 border-indigo-400' : 'from-sky-600 to-blue-500 border-sky-500'">
            <p class="text-white">historial-admin works!</p>
        </div>
    </div>
</div>